@import './colors.scss';

// Normalized CSS

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font: inherit;
}

body {
  // Use REM for font-sizing
  font-family: Inter;
}

.bg-container {
  background-color: $color-bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-card {
  color: $color-white;
  background-color: $card-bg;
  width: 100%;
  max-width: 1110px;
  height: 100%;
  max-height: 446px;
  display: flex;
  flex-direction: row;

  .preview-card__left {
    padding: 0px 71.5px;
    padding-top: 71px;
    padding-bottom: 59px;
    height: 100%;
    flex-basis: 50%;

    h1 {
      margin: 0;
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      span {
        color: $color-primary;
      }
    }
    p {
      opacity: 0.75;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
    }

    .statistics {
      margin-top: 72px;
      list-style: none;
      display: flex;
      padding-left: 0;
      li {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 63px;
        }

        p:first-child {
          margin: 0;
          font-family: Inter;
          font-weight: 700;
          line-height: 29px;
          font-size: 24px;
          color: white;
          opacity: 1;
          margin-bottom: 2px;
        }

        p:last-child {
          margin: 0;
          font-family: Lexend Deca;
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 1px;
          opacity: 0.6;
        }
      }
    }
  }

  .preview-card__right {
    flex-basis: 50%;
    background-image: url('../images//desktop-header.jpg');
    width: 100%;
    height: 100%;
    position: relative;
  }
  .preview-card__overlay {
    position: absolute;
    mix-blend-mode: multiply;
    opacity: 0.75;
    background-color: $color-primary;
    width: 100%;
    height: 100%;
  }
}

// Starter CSS
.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
